{% extends "base.html.twig" %}
{% block title %}Mot de passe oublié !
{% endblock %}

{% block body %}



    <div class="container mb-5">

        <div class="card bg-dark text-white mt-5 col-md-8 mx-auto d-block">
            <div class="card-header">
                <h3 class="text-center">Vous avez oublié votre mot de passe ?</h3>
            </div>
            <div class="card-body">
                <p class="text-white">
                    Veuillez saisir l'email lié à votre compte. Un email contenant un lien va vous être envoyé pour être redirigé vers la page de réinitialisation de votre mot de passe.
                </p>
                <div class="card-footer mb-5">

                    <div class="col-md-8 mb-5 mx-auto d-block">
                        <form method="post" class="mt-5">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email"
                                   required autofocus>

                            <button class="btn btn-primary mt-3" type="submit">
                                Envoyer !
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}