{% extends 'base.html.twig' %}

{% block title %}Factures-Gratuites.fr{% endblock %}

{% block body %}
            <div class="container">
                <h2 class="text-center">Bienvenue</h2>
            </div>
{% endblock %}

