{% extends 'base.html.twig' %}

{% block title %}Nouveau client {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Nouveau client</h1>

        {{ form_start(form, {'action': path('acompte_add', { 'id': facture.id })})}}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}