<a href="{{ path('facture_acompte_edit', {'id': facture.id}) }}" class="btn btn-info" id="btnAcompte">Facture d'acompte</a>
<a href="{{ path('facture_finale_edit', {'id': facture.id}) }}" class="btn btn-info" id="btnFinale">Facture finale</a>