{% for facture in lesFactures %}
    <!--Modal-->
    <div class="modal fade " id="add-acompte" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header  ">
                    <h3 class="modal-title" id="staticBackdropLabel">Ajouter un acompte</h3>
                </div>
                <div class="modal-body add-acompte-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}